<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <!--<add name="rcdg" connectionString="Data Source=162.250.126.211;Initial Catalog=w3standa_stscomputerNEW;Persist Security Info=True; User Id=stscomputer;Password=@#Ac7108" providerName="System.Data.SqlClient" />-->
    <add name="rcdg" connectionString="Data Source=IT\SQLEXPRESS;Initial Catalog=VTMS;Integrated Security = true;" providerName="System.Data.SqlClient" /> 

     
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" tempDirectory="D:\Inetpub\vhosts\w3standard.com\tmp" />
    <httpRuntime maxRequestLength="1048576" />
    <customErrors mode="Off">
    </customErrors>
    <membership defaultProvider="rcdg_MembershipProvider">
      <providers>
        <clear />
        <add connectionStringName="rcdg" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="100" minRequiredPasswordLength="2" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="100" passwordStrengthRegularExpression="" name="rcdg_MembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="rcdg_RoleProvider">
      <providers>
        <clear />
        <add connectionStringName="rcdg" applicationName="/" name="rcdg_RoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms loginUrl="Admin/Default.aspx" protection="None" timeout="120" />
    </authentication>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <authorization>
      <!--<deny users="*" />-->
    </authorization>
  </system.web>
  <location path="account/Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="DashBoard.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>